@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


body {
    font-family: "DM Sans", serif;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
    color: #333;
    line-height: 1.6;
}

/* utility styles */
.d-none {
    display: none;
}

.d-block {
    display: block;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

main {
    padding: 20px;
}

/* Blog Posts Section */
.blog-posts {
    max-width: 800px;
    margin: 0 auto;
}

.post {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.post h2 {
    margin-top: 0;
    font-size: 1.5rem;
    color: #333;
}

/* .post-content {} */

.post .meta {
    font-size: 0.9rem;
    color: #777;
    margin-top: 5px;
}

.post-btn {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
}


.comments {
    padding: 1em;
}

.comments input {
    padding: 1em;
}